<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} - {{site_title}}</title>
  <meta name="description" content="{{description}}">
  <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16.png">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <a class="brand" href="index.html">
      <img src="static/img/torvik-mark.png" alt="" width="38" height="38">
      <span>Torvik</span>
    </a>
    <nav>
      <a href="index.html">Home</a>
      <a href="tour.html">Tour</a>
      <a href="vefna.html">Vefna</a>
      <a href="https://github.com/torvik-lang/torvik/wiki">Docs</a>
      <a href="https://github.com/torvik-lang/torvik">GitHub</a>
    </nav>
  </header>
  <main>
{{content}}
  </main>
  <footer>
    <p>Torvik &middot; AGPL-3.0 &middot; woven with <a href="https://github.com/torvik-lang/vefna">Vefna</a>, a static site generator written in Torvik</p>
  </footer>
</body>
</html>
